<div class="govuk-form-group" th:fragment="monetaryValue(monetaryvariableName)">
    <label class="govuk-label govuk-label--l" th:for="${monetaryvariableName}">Income</label>
    <div th:errors="*{${monetaryvariableName}}" class="govuk-error-message"></div>
    <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-10"
               type="text"
               th:id="${monetaryvariableName}"
               th:name="${monetaryvariableName}"
               th:field="*{${monetaryvariableName}}"
               required>
    </div>
</div>


<!--/*
    Fragment Name: textInput

    This fragment creates a text input with no prefix and sufix
*/-->

<div class="govuk-form-group" th:fragment="textInput(textvariableName)">
    <label class="govuk-label govuk-label--l" th:for="${textvariableName}">Income</label>
    <div th:errors="*{${textvariableName}}" class="govuk-error-message"></div>
    <div class="govuk-input__wrapper">
        <input class="govuk-input govuk-input--width-10"
               type="text"
               th:id="${textvariableName}"
               th:name="${textvariableName}"
               th:field="*{${textvariableName}}"
               required>
    </div>
</div>
