<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/govuk-frontend-5.7.1.min.css}">
    <script type="module" th:src="@{/js/govuk-frontend-5.7.1.min.js}"></script>
    <title>Select Annual Return</title>
</head>
<th:block th:replace="~{fragments/govHeader :: header}"></th:block>
<body class="govuk-body">

<div class="govuk-width-container">
    <div class="govuk-grid-row">

        <!-- /*Empty left column */-->
        <div class="govuk-grid-column-one-quarter"></div>
        <div class="govuk-!-margin-top-4"></div>
        <!--/* Centered content column */-->
        <div class="govuk-grid-column-half">

            <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Select Annual Return</h1>
            <div class="table-container">

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">AR</th>
                        <th scope="col" class="govuk-table__header">Start Date</th>
                        <th scope="col" class="govuk-table__header">End Date</th>
                        <th scope="col" class="govuk-table__header"> </th>
                    </tr>
                    </thead>

                    <tbody class="govuk-table__body" th:each="ar : ${annualReturns}">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" th:text="${ar.getARCycle()}"></td>
                        <td class="govuk-table__cell" th:text="${ar.getARCycleStartDate()}"></td>
                        <td class="govuk-table__cell" th:text="${ar.getARCycleEndDate()}"></td>
                        <td class="govuk-table__cell selectable-row">
                        <!--/*  completed is false and nextToComplete is false */-->
                            <span th:if="${!ar.getCompleted() and !ar.getNextToComplete()}"
                                th:text="'Complete previous ARs'"></span>

                        <!--/* Show 'Completed' if is true and  false */-->
                            <span th:if="${ar.getCompleted() and !ar.getNextToComplete()}"
                                 th:text="'Completed'"></span>

                        <!--/* Show  link if nextToComplete is true*/-->
                            <a th:if="${ar.nextToComplete}"
                               th:href="@{/income-and-spending(ar=${ar.ARCycle})}"
                               class="govuk-link"
                               th:text="'Annual Return ' + ${ar.ARCycle}">
                            </a>

                        </td>
                </tr>
                </tbody>

                </table>
            </div>
        </div>

        <!--/* Empty right column */-->
        <div class="govuk-grid-column-one-quarter"></div>

    </div>
</div>
</body>
<th:block th:replace="~{fragments/govFooter :: footer}"></th:block>
</html>
s